.main {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 66.666%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rows, .transport { background-color: #333; padding: 1em; }

.row {
  width: 100%; overflow: hidden;
}

.row .step { float: left; background-color: #555; user-select: none;
  font-size: 3em; width: 1em; height: 1em; }
.step.active { background-color: yellow; }
.step.current { background-color: #AAA; }
.step.current.active { background-color: white; }

.step.trigger { width: 6em; margin-right: 1em; }

.transport a { padding: 0.5em 2em; color: black; text-decoration: none; }
a#play { background-color: #0b0; }
a#stop { background-color: #c00; }
